.primary-light-pink {
  background: $primary-light-pink;
}
.primary-light-green {
  background: $primary-light-green;
}
.primary-light-blue {
  background: $primary-light-blue;
}
.passions_content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  .baking_image_container {
    margin: 10px;
    flex: auto;
    min-width: 280px;
    width: 33%;
    img {
      width: 100%;
    }
  }
  .image_description {
    padding: 5px 0;
    text-align: center;
  }
}
