$primary-blue: #4dccff;
$primary-light-blue: rgba(77, 204, 255, 0.35);
$primary-pink: #ff88be;
$primary-light-pink: rgba(255, 136, 190, 0.35);
$primary-green: #68f9aa;
$primary-light-green: rgba(104, 249, 170, 0.35);
$font-stack: Helvetica, sans-serif;
