@import "variables.scss";
@import "header.scss";
@import "passions.scss";

body {
  font-family: $font-stack;
  box-sizing: border-box;
}
.main_content {
  margin: 30px auto 0 auto;
  max-width: 1200px;
}
