$primary-blue: #4dccff;
$primary-pink: #ff88be;
$primary-green: #68f9aa;
$font-stack: Helvetica, sans-serif;
body {
  font-family: $font-stack;
  box-sizing: border-box;
}
nav {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  min-height: 30px;
  text-align: center;
  background: linear-gradient(
      to bottom,
      $primary-blue 33.33%, $primary-pink 33.33%,
      $primary-pink 66.66%, $primary-green 66.66%
    );
  .nav-link {
    margin: 0 auto;
    background: white;
    padding: 10px;
    text-decoration: none;
    align-self: center;
  }
}
.main_content {
  margin: 30px auto 0 auto;
  max-width: 1200px;
}
